body {
    display: flex;
    justify-content: center;
    overscroll-behavior: contain;
}

#canvas {
    border: 2px solid rgba(200, 0, 200, 0.5);
}

@media (max-width: 600px) {
    #canvas {
        max-height: 90vh;
        max-width: 90vw;
    }
}
